<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/dashboard_styles.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <h1>NETWORKED TIC TAC TOE</h1>
    <header>SESSION USERNAME: <b><%= username %></b></header>
    <nav>
        <div class="link-containers">
            <a href="/game">Play Game</a>
        </div>
        <br>
        <div class="link-containers">
            <a href="/pendingRequests">View Pending Friend Requests</a>
        </div>
        <br>
        <div class="link-containers">
            <a href="/addFriend">Add Friend</a>
        </div>
        <br>
        <div class="link-containers">
            <form action="/users/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </nav>


    <section>
        <!-- Send Duel Request -->
        <p><b>Challenge a Friend</b></p>
        <form action="/sendDuelRequest" method="POST">
        <% if(friends.length > 0) { %>
            <% for(let i = 0; i < friends.length; i++) { %>
            <div class="friend">
                <input type="radio" name="duel" value="requester <%=friends[i].username +" "+friends[i].id %>">
                <label for="<%= i %>"> <%=friends[i].username %> </label>
            </div>
                <br>
            <% } %>
        <% } %>
        <% if(friends.length === 0) { %>
            <p>No friends</p>
        <% } %>
        <% if(friends.length > 0)  {%>
            <button type="submit">DUEL!</button>
        <% } %>
        </form>

        <!-- Accept Duel Request -->
        <p><b>Pending Duel Request</b></p>
        <form action="/acceptDuelRequest" method="POST">
        <% if(duelRequests.length > 0) { %>
            <% for(let i = 0; i < duelRequests.length; i++) { %>
            <div class="friend">
                <input type="radio" name="duel" value="recipient <%=duelRequests[i].requester.username +" "+duelRequests[i].requester.id %>">
                <label for="<%= i %>"> <%=duelRequests[i].requester.username %> </label>
            </div>
                <br>
            <% } %>
        <% } %>
        <% if(duelRequests.length === 0) { %>
            <p>No Duels</p>
        <% } %>
        <% if(duelRequests.length > 0)  {%>
            <button type="submit">ACCEPT DUEL!</button>
        <% } %>
        </form>

    </section>
    </div>
<br>
</html>